.copyright {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;

  @media screen and (min-width: $tablet-width) {
    justify-content: flex-end;
    margin: 0;
  }
}

.copyright__link-title {
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;
  letter-spacing: -0.2px;
  pointer-events: none;

  @media screen and (min-width: $tablet-width) {
    margin-right: 17px;
  }
}

.copyright__icon-image {
  pointer-events: none;
  fill: #444444;
}

.copyright__link:hover .copyright__icon-image {
  fill: #68b738;
}

.copyright__link:active .copyright__icon-image {
  fill: #c8e0ba;
}

.copyright__link:hover .copyright__link-title {
  color: #444444;
}

.copyright__link:active .copyright__link-title {
  color: #c8c8c8;
}
