.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.copyright__link-title {
  margin-bottom: 4px;

  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;
  letter-spacing: -0.2px;

  @media screen and (min-width: $tablet-width) {
    padding-right: 15px;
  }
}

.copyright__link-logo img {
  right: 0;

  @media screen and (min-width: $tablet-width) {
    width: 34px;
  }
}
