.main-nav {
  margin: 0;

  background-color: #ffffff;

  @media screen and (min-width: $desktop-width) {
    max-width: 45%;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
