.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #f2f2f2;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    padding-right: 30px;
    padding-bottom: 53px;
    padding-left: 30px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-right: 110px;
    padding-left: 110px;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;

  @media screen and (min-width: $tablet-width) {
    justify-content: left;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 4px;
  }
}

.page-footer__logo-image {
  margin-top: 40px;
  margin-bottom: 29px;

  pointer-events: none;

  @media screen and (min-width: $tablet-width) {
    width: 130px;
    height: 25px;
    margin: 0;
  }

  @media screen and (min-width: $desktop-width) {
    width: 129px;
    height: 27px;
    padding-bottom: 3px;
  }
}

.page-footer__social {
  padding-top: 18px;
  padding-bottom: 14px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media screen and (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-footer__copyright {
  padding-top: 19px;
  padding-bottom: 19px;

  @media screen and (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-footer__item {
  width: 100%;

  @media screen and (min-width: $tablet-width) {
    width: 33.33%;

    border: none;
  }
}

.page-footer__logo-link:hover .page-footer__logo-image {
  fill: #3e3e3e;
}

.page-footer__logo-link:active .page-footer__logo-image {
  fill: #6b6b6b;
}
