.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 12px;
  margin-left: 12px;

  @media screen and (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 7px;
    margin-left: 7px;
  }
}

.social__icon-image {
  fill: #666666;
  pointer-events: none;
}

.social__link--vkontakte svg {
  margin-bottom: 2px;

  @media screen and (min-width: $tablet-width) {
    width: 30px;
    height: 16px;
  }
}

.social__link--facebook svg {
  @media screen and (min-width: $tablet-width) {
    position: relative;
    top: -2px;
    right: 7px;

    width: 14px;
    height: 28px;
  }
}

.social__link--instagram svg {
  @media screen and (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__link:hover .social__icon-image {
  fill: #68b738;
}

.social__link:active .social__icon-image {
  fill: #c8e0ba;
}
