.titel-partition {
  position: relative;

  display: flex;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    right: -20px;
    z-index: -1;

    width: 100%;
    height: 3px;

    background-color: #68b738;

    @media screen and (min-width: $tablet-width) {
      position: absolute;
      top: 22px;
      right: -67px;
    }

    @media screen and (min-width: $desktop-width) {
      top: 22px;
      right: -110px;
    }
  }

  &::after {
    @media screen and (min-width: $tablet-width) {
      content: "";
      position: absolute;
      top: 22px;
      left: -70px;
      z-index: -1;

      width: 30px;
      height: 3px;

      background-color: #68b738;
    }

    @media screen and (min-width: $desktop-width) {
      top: 22px;
      left: -110px;

      width: 70px;
    }
  }
}

.titel-partition--thirty-right {
  &::before {
    @media screen and (min-width: $desktop-width) {
      right: -30px;
    }
  }
}

.titel-partition__text {
  max-width: 270px;
  margin: 0;
  padding-right: 21px;

  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #111111;

  background-color: #ffffff;

  @media screen and (min-width: $tablet-width) {
    max-width: 600px;
    padding-right: 41px;

    font-size: 36px;
    line-height: 36px;
  }
}
