.title {
  font-weight: normal;
  font-size: 36px;
  text-align: center;
  color: #000000;

  @media screen and (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.title--main {
  line-height: 36px;
  color: #ffffff;

  @media screen and (min-width: $tablet-width) {
    width: 427px;

    line-height: 60px;
    text-align: left;
    color: #000000;
  }
}

.title--page {
  margin-top: 16px;
  margin-bottom: 20px;
  padding: 20px;

  text-align: left;

  @media screen and (min-width: $tablet-width) {
    margin-top: 36px;
    margin-left: 10px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-top: 52px;
    margin-left: 90px;
  }
}
