.button {
  display: block;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #68b738;

  &:hover {
    color: #ffffff;

    background-color: #5eaa2f;
  }

  &:active {
    color: #8fc46e;

    background-color: #5eaa2f;
  }
}

.button--catalog {
  font-size: 16px;
}

.button--promo {
  width: 100%;

  @media screen and (min-width: $tablet-width) {
    width: 245px;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 20px;
    line-height: 20px;
  }
}

.button--grey {
  color: #444444;
  font-size: 16px;
  line-height: 20px;

  background-color: #f2f2f2;

  &:hover {
    color: #444444;

    background-color: #ebebeb;
  }

  &:active {
    color: #b9b9b9;

    background-color: #ebebeb;
  }
}
