.catalog-list {
  list-style: none;
}

.catalog-list__titel {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-list__desc {
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: #444444;
}

.catalog-list__desc-label {
  text-align: left;
}

.catalog-list__desc-data {
  text-align: right;
}

.show-all__titel {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.show-all__text {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;
}
