.main-promo {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-bottom: 2px;
}

.main-promo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  width: 100%;
  height: 305px;

  background-color: #77bb4e;
  background-image: url("..//img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $tablet-width) {
    background: none;
  }

  @media screen and (min-width: $desktop-width) {
    top: -116px;
    right: 0;
    z-index: 1;

    width: 48.7%;
    height: 696px;

    background-image: url("..//img/index-background-desktop@1x.jpg");
  }
}

.main-promo__promo__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet-width) {
    align-items: flex-start;
    padding-top: 36px;
    padding-left: 87px;
  }

  @media screen and (min-width: $desktop-width) {
    padding-top: 86px;
    padding-left: 149px;
  }
}

.main-promo__slogan {
  display: block;

  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-width) {
    margin-top: 16px;
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}

.main-promo__title {
  margin-top: 27px;
  margin-bottom: 25px;

  @media screen and (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.main-promo__button {
  @media screen and (min-width: $tablet-width) {
    margin-bottom: 497px;
    margin-left: 2px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 226px;
  }
}

.main-promo__image {
  margin-top: 28px;
  margin-bottom: 1px;

  @media screen and (min-width: $tablet-width) {
    position: absolute;
    top: 258px;
    right: 4%;
    z-index: -1;

    width: 709px;
    height: 609px;
    margin: 0;
  }

  @media screen and (min-width: $desktop-width) {
    top: 26px;
    left: 40%;
    z-index: 3;

    width: 552px;
    height: 499px;
  }
}
